p.description{
    font-style: bold;
    font-size: 15px;
}

div.a{
  display: flex;
  justify-content: center;
  align-items: center;
}

h3.b{
  float: left;
}

p.c {
  float: right;
  margin-top: 2.5%;
  margin-right: 4%;
  text-decoration: underline;
}

div.titleline{
  border-bottom: 1px solid #ccc;
  width: 94.5%;
  margin-left: 2.5%;
  margin-right: 2.5%;
  margin-bottom: 2.5%;
  margin-top: 2.5%;
}

div.VAT {
  display: flex;
  justify-content: space-between
}

:host ::ng-deep .mat-radio-button.mat-accent.mat-radio-checked .mat-radio-outer-circle, .mat-radio-outer-circle {
  border-color: rgb(0, 0, 0) !important;
  /* Sets outer circle & click effect color */
}

:host ::ng-deep .mat-radio-button.mat-accent .mat-radio-inner-circle {
  background-color: rgb(0, 0, 0) !important;
  /* Sets inner circle color */
}

.stepper-wrapper {
  margin-top: auto;
  display: flex;
  justify-content: space-between;
  margin-bottom: 20px;
}
.stepper-item {
  position: relative;
  display: flex;
  flex-direction: column;
  align-items: center;
  flex: 1;

  @media (max-width: 768px) {
    font-size: 12px;
  }
}

.stepper-item::before {
  position: absolute;
  content: "";
  border-bottom: 2px solid rgb(196, 196, 196);
  width: 100%;
  top: 20px;
  left: -50%;
  z-index: 2;
}

.stepper-item::after {
  position: absolute;
  content: "";
  border-bottom: 2px solid rgb(157, 157, 157);
  width: 100%;
  top: 20px;
  left: 50%;
  z-index: 2;
}

.stepper-item .step-counter {
  position: relative;
  z-index: 5;
  display: flex;
  justify-content: center;
  align-items: center;
  width: 40px;
  height: 40px;
  border-radius: 50%;
  background: #ccc;
  margin-bottom: 6px;
}

.stepper-item.active {
  font-weight: bold;
}

.stepper-item.active .step-counter {
  position: relative;
  z-index: 5;
  display: flex;
  justify-content: center;
  align-items: center;
  width: 40px;
  height: 40px;
  border-radius: 50%;
  background: rgb(122, 120, 120);
  margin-bottom: 6px;
}

.stepper-item.completed .step-counter {
  background-color: rgb(0, 0, 0);
  color: rgb(255, 255, 255);
}

.stepper-item.completed::after {
  position: absolute;
  content: "";
  border-bottom: 2px solid #000000;
  width: 100%;
  top: 20px;
  left: 50%;
  z-index: 3;
}

.stepper-item:first-child::before {
  content: none;
}
.stepper-item:last-child::after {
  content: none;
}