<br>
<br>

<head>
    <title>Bootstrap Example</title>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.4.1/css/bootstrap.min.css">
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.6.0/jquery.min.js"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.4.1/js/bootstrap.min.js"></script>
  </head>
  <body> 
   
    <div class="stepper-wrapper">
        <div class="stepper-item active">
          <div class="step-counter">1</div>
          <div class="step-name">Input Tax</div>
        </div>
        <div class="stepper-item">
          <div class="step-counter">2</div>
          <div class="step-name">Confirm & Review</div>
        </div>
    </div>

    <div class="container">
        <div class="panel panel-default">
        <div class="panel-body">

            <h3>1.Tax Filing Detail</h3>
                <div class="titleline"></div>
            <p>Type of filing<span style="color: #fa1313">*</span></p>
            <br>
            <div class="Type Filling">
                <mat-radio-group>
                    <mat-radio-button style="margin-right: 50px;" value="Ordinary Filling" name="Ordinary Filling" (click)="setResult('0')" (click)="setFilingType('Ordinary Filling')" (click)="setPenalty(0)" (click)="setSurcharge(0.00)" checked>Ordinary Filling<mat-icon>contact_support</mat-icon></mat-radio-button>
                    <mat-radio-button value="Additional Filling" name="Additional Filling" (click)="setResult('1')" (click)="setFilingType('Additional Filling')" (click)="setPenalty(200)">Additional Filling<mat-icon>contact_support</mat-icon></mat-radio-button>
                </mat-radio-group>
            </div>
            <br>
            <div style="display: inline-flex">
                <p>TAX  Month <span style="color: #fa1313">*</span></p>
                <div [hidden]="(typeResult == '0' )">
                    <p style="margin-left: 170px">Type <span style="color: #fa1313">*</span></p>
                </div>
            </div>
            <div style="display: flex">
                <app-month style="margin-right: 50px"></app-month>
                <app-year style="margin-right: 50px"></app-year>
                <div [hidden]="(typeResult == '0' )">
                    <form>  
                        <select class="form-control cb">
                            <option value="On-Time" selected>On-Time</option>
                            <option value="Late">Late</option>
                        </select>
                    </form>
                </div>
            </div>
            <br>
            <div>
                <h3 class="b">2.Tax Computation</h3>          
            </div>
            <br>
            <p class="c">View Exchange Rate</p>
            <br>     
            <div class="titleline"></div>
            <p class="description">Provide total value taxable electronic service <span style="color: #fa1313">*</span></p>

            <div class="VAT">
                <p>1.Total value of taxable electronic service exclusive of VAT </p><app-sale-amount></app-sale-amount>
            </div>
            <br>
            <div class="VAT">
                <p>2.Total VAT to be remitted (7% of 1) </p><app-tax-amount></app-tax-amount>
            </div>
            <br>
            <div class="Late_Filling" [hidden]="(typeResult == '0' )">
                <p class="description">In case of late filling and payment, or additional filling</p>
                <div class="VAT"><p>3.Surcharge<mat-icon>contact_support</mat-icon> </p><app-surcharge></app-surcharge></div><br>
                <div class="VAT"><p>4.Penalty<mat-icon>contact_support</mat-icon> </p><app-penalty></app-penalty></div><br>
                <div class="VAT"><p>3.Total amount of VAT,Surcharge, and Penalty to be remitted(2 + 3 + 4) </p><app-total-amount></app-total-amount></div><br>
            </div>
        </div>
        </div>
    </div> 

    <div class="a">
    <button style="margin-right: 50px;" class="btn btn-light mr-auto" type="button" routerLink="input">Back</button>
    <button class="btn btn-dark mr-auto"  type="button" routerLink="confirm">Next</button>
    </div>

</body>